<h3>Hello, <%= @user.name %>!</h3>
<p>Thanks for joining. I hope you enjoy my habit development app.</p>

<p>To confirm your registration click the URL below.</p>

<p><%= confirm_email_user_url(@user.confirm_token) %></p>
