<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey hey <%= @user.name %>, practice every day!</h1>
    <p>Daily practice helps you develop healthy habits.
      It also makes you feel awesome!
    </p>
  </body>
</html>
