<div class="jumbotron">
  <h1 class="display-3"><%= "#{@user.name}'s profile" %></h1>
  <p class="lead"><%= "You are on the #{current_user.grail.capitalize} track!"%></p>
  <hr class="m-y-2">
  <p class="lead">
  </p>
</div>

<%= render 'journeys/current_journey' %>
