<div class="wide">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 logo"><h1>hAppen</h1></div>
  </div>
  <div class="row">
    <div class="col-12-md">
      <h3 class="text-center logo">Photo Or It Didn't Happen. Make It Happen.</h3>
    </div>
  </div>
</div>
