<div class="container">
  <div class="text-center">
    <h1>Email Survey Upload Guide</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Send survey to <%= mail_to "hAppenStance@app50574523.bymail.in" %>.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Your email should follow this format: "b 1 a 10", where "b 1" measures your before exercise sentiment and "a 10" is your after exercise sentiment.</p>
    <p>Remember to attach a picture.</p>
    <p>Don't worry about sending multiple emails. Consecutive emails will update your daily report. This is equivalent to re-submitting the survey online.</p>
  </div>
</div>

<div class="text-center">
  <h1>Recommended Workflow</h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 workflow">
    <ol>
      <li>Type your initial sentiment on a scale of 1-10. For example, "b 4"</li>
      <li>Enjoy performing the activity for 2 minutes. I usually set an alarm, but feel free to measure success however you want.</li>
      <li>Immediately following the exercise, snap a selfie to prove you made it happen today!</li>
      <li>Evaluate your sentiment again. EX: "a 7"</li>
    </ol>
  </div>
</div>

<div class="text-center">
  <h1>Pro Tips</h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>The keywords "b" and "a" take time to get used to. Just think "b" = "before" and "a" = "after".</p>
    <p>Because, hAppenStance is fairly intelligent. You can even write, "This was an amazing exercise. My survey results are before 6 and after 9"</p>
    <p>Just have fun playing around with it. It's highly unlikely that you will break anything.</p>
  </div>
</div>
