<div class="headlines">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center">
        Daily practice can change your biochemistry.
      </h3>
      <h3 class="text-center">
        It leads to more positive outcomes in your life.
      </h3>
      <h3 class="text-center">
        It's not merely happenstance. It's science.
      </h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <h1>Problem</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      The problem with most "life hacks" and self help programs is that they promise instant results, however lasting change requires repetition, practice, and consistency.
    </p>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <h1>Solution</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Amy Cuddy's research at Harvard Business School shows how people can significantly increase testosterone levels by acting confident for just two minutes per day.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-center">
      You can become happier and more confident with practice.
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Your body strengthens from regular exercise. Your mind stabilizes with frequent meditation.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-6 col-md-offset-2 pad-below">
    <%= image_tag "https://static.pexels.com/photos/28076/pexels-photo.jpg", class: ["img-responsive", "img-rounded"] %>

  </div>
  <div class="col-md-4 col-xs-6">
    <%= image_tag "https://static.pexels.com/photos/50709/thailand-buddhists-monks-and-50709.jpeg", class: ["img-responsive", "img-rounded"] %>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      This philosophy contradicts our buy-now-click-bait-there's-a-pill-for-that culture. hAppen solves this modern problem. It creates space to document your daily practice.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <% unless current_user %>
      <%= link_to("Sign Up Today!", signup_path, class: "btn btn-primary btn-lg pull-right", id: "sign-up") %>
    <% end %>
  </div>
</div>
