<div class="wide">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 logo"><h1>hAppen</h1></div>
  </div>
  <div class="row">
    <div class="col-12-md">
      <h3 class="text-center logo">Photo Or It Didn't Happen. Make It Happen.</h3>
    </div>
  </div>
</div>


<div class="container">
  <div class="text-center">
    <h1>Content</h1>
  </div>
</div><!-- /.container -->




<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      The problem with most life hacks and self help books is that they promise instant results, but lasting change requires repetition, practice, and consistency.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Your body strengthens by consistent exercise. Your mind stabilizes with frequent meditation.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      These observations fly in the face of our buy-now-click-bate-there's-a-pill-for-that culture. hAppen solves this modern problem. It creates space to document your practice.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Happyiness and confidence are skills you can develop with consistent practice.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Two minutes of focused daily practice is enough to alter your biochemistry.
    </p>
  </div>
</div>
