// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  height: 67px;
  width: 67px;
  position: relative; /* Declared position allows for location changes */
  top: -10px; /* Moves the image 2px closer to the top of the page */
}
