// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  p {
    font-size: 18px;
  }
}

body,html {
  height: 100%;
}

.navbar {
  border-radius: 0 !important;
}

footer {
  margin-bottom: 100px;
}

// Hero Img

.wide {
  width:100%;
  height:400px;
  background-image: image-url("happy-conf.jpeg");
  background-size:cover;
  margin-top: -100px;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.workflow {
  ol {
    li {
      font-size: 18px;
      padding-bottom: 9px;
      padding-top: 9px;
    }
  }
}

.headlines {
  padding-top: 3em;
  padding-bottom: 3em;
}

.pad-below {
  padding-bottom: 2em;
}

#sign-up {
  margin-top: 16px;
  margin-bottom: 20px;
}
