<h1 class="text-center">Your Happyness Journey</h1>

<h2 class="text-center">Happyness Over Time</h2>
<%= line_chart @survey_data, colors: ["#6495ed", "#999"] %>

<h2 class="text-center">Pictures of Happyness</h2>
<div id="links">
  <% @reports.each do |report| %>
    <% if report.image %>
      <% img_thumb = attachment_url(report, :image, :fill, 140, 140, format: "jpg") %>
      <% img_large = attachment_url(report, :image, :fill, 500, 500, format: "jpg") %>
      <%= link_to image_tag(img_thumb, title: report.created_at.to_s), img_large, data: { gallery: '' } %>
    <% end %>
  <% end %>
</div>

<%= render 'layouts/lightbox' %>
