<div id="links">
  <% @reports.each do |report| %>
    <% if report.image %>
      <% img_thumb = attachment_url(report, :image, :fill, 140, 140, format: "jpg") %>
      <% img_large = attachment_url(report, :image, :fill, 500, 500, format: "jpg") %>
      <%= link_to image_tag(img_thumb, title: report.created_at.to_s), img_large, data: { gallery: '' } %>
    <% end %>
  <% end %>
</div>
<%= line_chart @chart_data, colors: ["#6495ed", "#999"] %>

<%= render 'layouts/lightbox' %>
